@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    
    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg{
        display: none;
      }
    }

    .listItem {
    
      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle{
        @include lg{
          display: none;
        }
      }
    }
  }
}
