@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: #f1f1f1;  */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(28,45,200),rgba(10,30,80));
  border-radius: 6px;
  height: 20px;
}
.modal-wrapper {
  @apply fixed w-full h-screen backdrop-blur-[3px] z-50 flex justify-center items-center inset-0  overflow-y-auto;
}

.modal-box {
  @apply m-auto  shadow-lg overflow-y-auto rounded-md bg-gray-600 mx-3;
}

.form-label {
  @apply text-[14px] font-extrabold
}

.submit-btn{
  @apply rounded-md p-2  bg-blue-500 hover:bg-blue-600
}

.form-input{
  @apply outline-none p-2 text-white bg-transparent border rounded-sm
}

.msg-box{
    @apply m-auto w-[300px] shadow-lg overflow-y-auto h-[250px]  rounded-md bg-gray-600 mx-3;
}

.header{
  @apply flex items-baseline gap-5 mb-1 sticky top-0 w-full p-2 rounded-md bg-gray-700 font-extrabold  z-30
}

.button-add{ 
 @apply px-3 py-2 cursor-pointer rounded-md border hover:bg-gray-600 
}

.header-txt{
  @apply pl-3
}

.home-box{
  @apply p-5 rounded-lg border-2
}