@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: #f1f1f1;  */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(219, 213, 213), rgb(112, 111, 111));
  border-radius: 6px;
  height: 10px;
}
.modal-wrapper {
  @apply fixed w-full h-screen backdrop-blur-[3px] z-50 flex justify-center items-center inset-0  overflow-y-auto;
}

.modal-box {
  @apply m-auto  shadow-lg overflow-y-auto rounded-md bg-gray-600 mx-3;
}

.form-container {
  @apply grid lg:grid-cols-2 gap-4 p-4;
}
.form-label {
  @apply text-[14px] font-extrabold;
}

.submit-btn {
  @apply rounded-md p-2  bg-blue-500 hover:bg-blue-600;
}

.form-input {
  @apply outline-none p-2 text-white bg-transparent border rounded-sm;
}

.label-with-input {
  @apply w-full flex flex-col gap-2 mb-5;
}

.form-select {
  @apply outline-none p-2 border bg-gray-600;
}

.form-btn-div {
  @apply w-full grid grid-cols-2 gap-2 lg:col-span-2 my-5 font-extrabold;
}

.remove-btn {
  @apply rounded-md p-2 text-center cursor-pointer bg-red-500 hover:bg-red-600;
}

.edit-btn {
  @apply rounded-md p-2  bg-green-500 hover:bg-green-600 font-bold;
}

.normal-btn {
  @apply px-3 py-2 cursor-pointer rounded-md border font-semibold 
}
.msg-box {
  @apply m-auto w-[300px] shadow-lg overflow-y-auto h-[250px]  rounded-md bg-gray-600 mx-3;
}

.header {
  @apply flex items-baseline gap-5 mb-1  w-full p-2 rounded-md bg-gray-700 font-extrabold  z-30;
}

.button-add {
  @apply px-3 py-2 cursor-pointer rounded-md border hover:bg-slate-700  ;
}

.header-txt {
  @apply pl-3;
}

.home-box {
  @apply p-5 rounded-lg border-2;
}

.hover-c {
  @apply hover:bg-slate-700;
}

.box-c {
  @apply border p-3 grid gap-2;
}

* {
  @apply font-sans;
}
